<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<!elipsy-https://i.pinimg.com/originals/ec/44/69/ec4469ad42a136f29c7dafa5821416bc.gif>
<!planeta-https://cdn.wallpapersafari.com/7/80/gCWHKN.gif>
<!https://adultwalls.com/web/wallpapers/young-naked-hot-girl-model-photo-wallpaper/1920x1080.jpg>
<body onload="ready()" onkeydown="" onkeyup="" style="background-image: url('https://i.pinimg.com/originals/5a/3c/f6/5a3cf62701b70d8ed7068e19af80efc1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<nav>
    {% block content %}
    {% endblock %}
</nav>
<div class="tab-content" id="nav-tabContent" style="margin: 0px auto; position: relative; width: 800px; height: 100px;">
    <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel"></div>
    <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel"></div>
    <div aria-labelledby="nav-contact-tab" class="tab-pane fade" id="nav-contact" role="tabpanel"></div>
</div>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% block extension %}
{% endblock %}
</html>