{% extends "base.html" %}

{% block title %}CAMERA{% endblock %}
{% block content %}
<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css')}}">

    <a aria-controls="nav-home" aria-selected="false" class="nav-item nav-link" href="/" id="home" role="tab"><h5>HOME</h5></a>
    <a aria-controls="nav-home" aria-selected="false" class="nav-item nav-link active" href="/camera" id="camera" role="tab"><h5>VIDEO FROM CAMERA</h5></a>
    <a aria-controls="nav-home" aria-selected="false" class="nav-item nav-link" href="/text_to_speech" id="tts" role="tab"><h5>TEXT TO SPEECH</h5></a>
</div>
{% endblock %}

{% block extension %}
<div onload="functions()">
    <input src="{{ url_for('static', filename='image/arrow_Left.jpg')}}" type="image" name="hor" onclick="servo('left',1)" alt="LEFT" style="position:absolute;width:100px;height:100px;top:370px;left:595px">
    <input src="{{ url_for('static', filename='image/arrow_Right.jpg')}}" type="image" name="hor" onclick="servo('right',1)" alt="RIGHT" style="position:absolute;width:100px;height:100px;top:370px;left:1225px;">
    <input src="{{ url_for('static', filename='image/arrow_Up.jpg')}}" type="image" name="ver" onclick="servo('up',1)" alt="UP" style="position:absolute;width:100px;height:100px;top:105px;left:910px">
    <input src="{{ url_for('static', filename='image/arrow_Down.jpg')}}" type="image" name="ver" onclick="servo('down',1)" alt="DOWN" style="position:absolute;width:100px;height:100px;top:635px;left:910px">
    <img src="{{ url_for('camera') }}" style="position:absolute;width:500px;height:400px;left:710px;top:220px;"/>
    <form method="get">
        <div class="value">{{ data.step }}</div>
        <input name="value" type="range" min="1" max="10" step="1" value={{ data.step }}>
    </form>
    <p1 name="hor" class="b" id="hor">{{ data.hor }}</p1>
    <p1 name="ver" class="a" id="ver">{{ data.ver }}</p1>
</div>
<style>
    p1.a {
        position:absolute;
        left:695px;
        top:135px;
        font-size:4em;
        color: white;
    }
    p1.b {
        position:absolute;
        left:1220px;
        top:545px;
        font-size:4em;
        color: white;
    }
</style>

<script type="text/javascript">
    var elem = document.querySelector('input[type="range"]');
    var rangeValue = function(){
    var newValue = elem.value;
    var target = document.querySelector('.value');
    target.innerHTML = newValue;
    console.log(newValue);
    }
    elem.addEventListener("input", rangeValue);
    var elem = document.querySelector('input[type="range"]');
    var ver = {{ data.ver }}
    var hor = {{ data.hor }}
    step = parseInt(target.innerHTML)

    function servo(smer) {
        var elem = document.querySelector('input[type="range"]');
        var step = elem.value;
        var target = document.querySelector('.value');
        step = parseInt(target.innerHTML)
        console.log(step);
        if (smer == 'up') {
            if ((ver + step) <= 180) {
                if (ver < 180) {
                    ver = ver + step;
                    console.log(ver);
                    document.getElementById("ver").innerHTML = ver;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (ver >= 180) {
                alert("MAXIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MAXIMÁLNÍHO ÚHLU");
            }
        }
        else if (smer == 'down') {
            if ((ver - step) >= 0) {
                if (ver > 0) {
                    ver = ver - step;
                    console.log(ver);
                    document.getElementById("ver").innerHTML = ver;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (ver <= 0) {
                alert("MINIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MINIMÁLNÍHO ÚHLU");
            }
        }
        else if (smer == 'right') {
            if ((hor + step) <= 180){
                if (hor < 180) {
                    hor = hor + step;
                    console.log(hor);
                    document.getElementById("hor").innerHTML = hor;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (hor >= 180) {
                alert("MAXIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MAXIMÁLNÍHO ÚHLU");
            }
        }
        else if (smer == 'left') {
            if ((hor - step) >= 0){
                if (hor > 0) {
                    hor = hor - step;
                    console.log(hor);
                    document.getElementById("hor").innerHTML = hor;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (hor <= 0) {
                alert("MINIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MINIMÁLNÍHO ÚHLU");
            }
        }
    }
    function arrows(event) {
        var newValue = elem.value;
        var target = document.querySelector('.value');
        step = parseInt(target.innerHTML)
        arrow = event.charCode || event.keyCode
        if (arrow == 38) {
            if ((ver + step) <= 180){
                if (ver < 180) {
                    ver = ver + step;
                    console.log(ver);
                    document.getElementById("ver").innerHTML = ver;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (ver >= 180) {
                alert("MAXIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MAXIMÁLNÍHO ÚHLU");
            }
        }
        if (arrow == 40) {
            if ((ver - step) >= 0){
                if (ver > 0) {
                    ver = ver - step;
                    console.log(ver);
                    document.getElementById("ver").innerHTML = ver;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (ver <= 0) {
                alert("MINIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MINIMÁLNÍHO ÚHLU");
            }
        }
        if (arrow == 39) {
            if ((hor + step) <= 180){
                if (hor < 180) {
                    hor = hor + step;
                    console.log(hor);
                    document.getElementById("hor").innerHTML = hor;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (hor >= 180) {
                alert("MAXIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MAXIMÁLNÍHO ÚHLU");
            }
        }
        if (arrow == 37) {
            if ((hor - step) >= 0){
                if (hor > 0) {
                    hor = hor - step;
                    console.log(hor);
                    document.getElementById("hor").innerHTML = hor;
                    window.location = "camera/" + "ver " + ver + " hor " + hor + " step " + step;
                }
            }
            else if (hor <= 0) {
                alert("MINIMÁLNÍ ÚHEL!!!")
            }
            else {
                confirm("HROZÍ PŘESAŽENÍ MINIMÁLNÍHO ÚHLU");
            }
        }
    };
    function ready() {
          window.addEventListener('keydown', arrows);
    };



</script>
{% endblock %}



