{% extends "base.html" %}
{% block title %} DEVASTATOR 3000 {% endblock %}
{% block content %}
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		  	<a class="nav-item nav-link active" id="home" href="/" role="tab" aria-controls="nav-home" aria-selected="false" ><h5>HOME</h5></a>
			<a class="nav-item nav-link" id="camera" href="/camera" role="tab" aria-controls="nav-home" aria-selected="false" ><h5>VIDEO FROM CAMERA</h5></a>
			<a class="nav-item nav-link" id="tts" href="/text_to_speech" role="tab" aria-controls="nav-home" aria-selected="false"><h5>TEXT TO SPEECH</h5></a>
	  </div>
{% endblock %}